
body {
height: 2000px;
}

header {
  background-image: url("./images/space_3_rend.jpg");
}

.Navbar-Lockup {
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(255,255,255,0.6);
  height: 50px;
  width: 100%;
  margin: 0px;
}

.Navbar-Lockup a {
  color: rgba(0,0,0,0.7);
  text-decoration: none;
  margin-left: 10px;
  font-size: 20px;
}

.Navbar-Lockup a:hover {
  text-decoration: underline;
}

.Nav-Right {
  float: right;
  margin-top: 15px;
  margin-right: 20px;
}

.Title-Lockup{
  text-align: center;
  clear: both;
  border-bottom: 5px solid white;
  color: white;
}

.Title-Lockup h1{
  font-size: 75px;
  letter-spacing: 0.1em;
}

/* Currently not being used */
.Title-Border{
  border-top: 5px solid white;
  border-bottom:5px solid white;
}

.UTS-Kicker{
  font-size: 40px;
  margin-top: -40px;
}

.Kicker{
  font-size: 35px;
  margin-top: 10px;
  letter-spacing: 0.1em;
}
