body {
  margin: 0px;
  padding: 0px;
  background-color: #eee;
}

.Navbar {
  padding: 0px;
  margin: 0px;

}

.HrStyle {
  width: 75%;
  border-top: 1px solid rgba(0,0,0,0.4);
}

#Header-Lockup {
  background-image: url("./images/space_3_rend.jpg");
  background-size: cover;
  background-position: center center;
  text-align: center;
}

.Title-Lockup {
  border-bottom: 5px solid white;
  color: white;
}

.Title-Lockup h1 {
  font-size: 60px;
  letter-spacing: 0.1em;
  padding-top: 100px;
}

@media only screen and (max-width: 500px) {
  .Title-Lockup h1 {
    font-size: 35px;
  }

  .Kicker {
    font-size: 20px;
  }
}

.UTS-Kicker {
  font-size: 30px;
}

.Kicker {
  font-size: 35px;
  letter-spacing: 0.1em;
}

.Header-Social-Media a {
  text-align: center;
  display: inline-block;
  margin-top: 50px;
}

.Contact-Social-Media a {

}

.Header-Media-Icon {
  fill: rgba(255, 255, 255,0.5);
  height: 50px;
  width: 50px;
  margin-left: 10px;
  margin-bottom: 20px;
  transition: all 0.4s;
}

.Contact-Media-Icon {
  fill: rgba(0,0,0,0.7);
  height: 50px;
  width: 50px;
  margin-left: 10px;
  margin-bottom: 20px;
  transition: all 0.4s;
}

.Header-Media-Icon:hover {
  fill: rgba(255, 255, 255,1);
  transform: scale(1.5);

}

.Contact-Media-Icon:hover {
  fill: rgba(0,0,0,1);
  transform: scale(1.5);

}

.Section-Title {
  text-align: center;
  display: block;
}

.Section-Info {
  font-size: 15px;
  text-align: center;
}

.Section-Info a {

}

.Section-Info button {
  height: 50px;
  width: 190px;
  background-color: rgba(255,255,255,0);
  border: 2px solid black;
  border-radius: 4px;
  color: black;
  font-size: 17px;
  transition: 0.4s;
  display: block;
  display: inline-block;
  margin-bottom: 40px;
}

.Section-Info button:hover {
  background-color: rgba(0,0,0,0.9);
  color: white;
  cursor: pointer;
}

.ContainedElement {
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.6);
  padding: 15px;
  margin: 40px 0px 20px 0px;
}

.ContainedElement p {
  text-align: left;
}

.ProfilePicture {
  height: 100%;
  width: 100%;
}

.PersonalDetails {
  margin-top: 20px;
  text-align: center;
}

.PersonalDetails img {

}

/* About Section */

.About p {
  padding: 0% 15%;
}

.PartnershipDetails img {
  height: 50%;
  width: 50%;
}

.PartnershipDetails p {
  margin-top: 15px;
}

.PresidentMessage p {
  text-align: left;
}

.CarouselComponent img {
  height: 600px;
  width: 100%;
}

.CarouselLink {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.CarouselLink:hover {
  color: white;
}


/* Events Page */
.EventsPage {

}

.EventPageSpotlightImg {
  height: 400px;
  text-align: center;
}

.EventPageSpotlightImg h2 {
  margin-top: 200px;
  font-size: 36px;
  color: white;
  padding: 10px;
  text-decoration: none;
  border: 2px solid white;
  background-color: rgba(0,0,0,0.4);
  display: inline-block;
}

.EventPageLink {
  font-size: 36px;
  color: white;
  padding: 10px;
  text-decoration: none;
  border: 2px solid white;
  background-color: rgba(0,0,0,0.4);
  margin-top: 200px;
  display: inline-block;
}

.EventPageLink:hover {
  color: white;
  text-decoration: none;
}

.GalleryImageLockup {
  display: inline-block;
  margin: 5px;
}

.GalleryImage {
  height: 200px;
  width: 300px;
  border-radius: 2% 0;
}


/* Contact Page */
.ContactPage {

}

.Contact-Social-Media-Lockup {
  margin-top: 30px;
}
