

.navbar-lockup {
  margin-left: 10px;
  text-decoration: none;
}

.nav-right {
  margin-left: 10px;
  text-decoration: none;
}

.nav-right a {
  margin-left: 10px;
  text-decoration: none;
  color: black;
}

.nav-right a:hover {
  text-decoration: underline;
}
